@page
@model Magazine20056663.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form class="form-inline" method="get">
    <div class="form-group">
        <label for="SearchString" class="control-label">Name: &nbsp; &nbsp; </label>
        <input type="text" name="SearchString" class="form-control" /> 
    </div>
    <div>
        &nbsp; &nbsp;  
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].familyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].givenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].dateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].emailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].mobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].postalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.familyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.givenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postalCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.customerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.customerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.customerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
